<!-- Bootstrap Grid -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- Top Navigation Card - Material Design Lite -->
      <div class="card-deck mdl-card mdl-shadow--4dp">

        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text">
            Edit Deck
            <button ng-click="shareDeck()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">Share</button>
            <button ng-click="goToDeck()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">My Deck</button>
            <button ng-click="logout()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">Logout</button>
          </h1>
        </div>

      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div ng-repeat="card in deck" class="card mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h3 class="mdl-card__title-text">{{ card.title }}</h3>
        </div>
        <div class="mdl-card__actions mdl-card--border">

          <a href="#!/deck/"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">Edit</button></a>
          <input type="button" value="Delete" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="warnDelete(card)"/>
        </div>
      </div>
    </div>

    <!-- Card Preview -->
    <div class="card-preview col-md-6">
      <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__supporting-text">
          <div ng-bind-html="preview"></div>
        </div>
      </div>
    </div>

  </div>

  <!-- This just adds some space at the bottom so scrolling looks nice -->
  <div class="deck-footer"></div>
</div>
