<!-- Bootstrap Grid -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- Top Navigation Card - Material Design Lite -->
      <div class="card-deck mdl-card mdl-shadow--4dp">

        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text">
            {{deck.title}}
          </h1>
          <button ng-click="goToDeck()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">Back</button>
          <a href="#!/receiver/{{deck._id}}" target="_blank" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">Projector</a>
          <button ng-click="logout()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">Logout</button>
                                  <!-- Displays 'Cast' with associated behavior for all cards not being casted -->
        <input ng-if="card._id !== cardId"
               type="button"
               value="Cast to projector"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               ng-click="showPopup(card)"/>

        <!-- Displays 'Stop' and associated behavior for the card being cast -->
         <input ng-if="card._id === cardId"
                type="button"
                value="Stop"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                ng-click="castCard(null, true)"/>
  
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div ng-repeat="card in deck.cards" class="card mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h3 class="mdl-card__title-text">{{ card.title }}</h3>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#!/decks/card/{{card._id}}/edit"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">Edit</button></a>
          <input type="button" value="Delete" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="deleteCard(card)"/>
          <button ng-click="setCurrent(card)" 
         class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        >Cast</button>

        </div>
      </div>
    </div>

    <!--     preview of receiver --> 
   <div class="receiver-preview card-canvas-preview mdl-card mdl-shadow--6dp" ng-controller="ReceiverCtrl">
      <div class="mdl-card__supporting-text">

        <!-- This is what actually gets cast to the screen -->
        <div class="markdown" ng-bind-html="text"></div>

      </div>

  <!-- This just adds some space at the bottom so scrolling looks nice -->
  <div class="deck-footer"></div>
</div>

<!-- Add Card Button -->
<a href="#!/decks/{{deck._id}}/new" class="add-card mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent mdl-shadow--4dp">
  <i class="material-icons">add</i>
</a>
